$white: #ffffff;
$black: #000000;
$blue: #0089c9;

$white-100: #f5f9ff;

$black-100: #242a3a;
$black-200: #474747;

$gray-100: #dedede;
$gray-200: #8a8a8a;

$primary: $black-200;
$secondary: $blue;

$body-color: $primary;
$body-bg: $white;
$link-color: $secondary;

$headings-margin-bottom: 1.5rem;
$paragraph-margin-bottom: 1.5rem;

$font-family-primary: "Comfortaa", cursive;
$font-family-secondary: "Playfair Display", "Noto Serif", serif;
$font-size-base: 1.6rem;
$font-size-lg: 1.7rem;
$line-height-base: 1.67;
